In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
class Backtester():
    def __init__(self, symbol, balance, comission, data):
        self.symbol = symbol
        self.initial_balance = balance
        self.current_balance = balance
        self.comission = comission / 100
        self.data = data
        self.units = 0.0
        self.trades = 0

    def get_bar(self, bar):
        date = str(self.data.index[bar].date())
        price = self.data["Close"].iloc[bar]
        return date, price

    def is_valid_amount(self, bar, units):
        date, price = self.get_bar(bar)
        amount = price * units * (1 + self.comission)
        if amount > self.current_balance:
            print("No tienes suficiente dinero para comprar {} unidades de {} en la fecha {}".format(units, self.symbol, date))
            return False
        return True

    def buy_instrument(self, bar, units):
        date, price = self.get_bar(bar)
        if not self.is_valid_amount(bar, units):
            return
        self.units += units
        cost = units * price
        comission_cost = cost * self.comission
        self.current_balance -= cost * (1 + self.comission)
        self.trades += 1
        print("Compraste {} unidades de {} en la fecha {} a un precio de $ {} USD por un total de $ {} USD con una comisión de $ {} USD; Total: {}".format(units, self.symbol, date, price, cost, comission_cost, cost + comission_cost))
    
    def sell_units(self, bar, units = None):
        date, price = self.get_bar(bar)
        if units > self.units:
            print("No tienes suficientes unidades para vender {} unidades de {} en la fecha {}".format(units, self.symbol, date))
            return
        self.units -= units
        self.current_balance += units * price * (1 - self.comission)
        self.trades += 1
        print("Vendiste {} unidades de {} en la fecha {} a un precio de $ {} USD".format(units, self.symbol, date, price))

In [43]:
data = pd.read_csv("resources/BTCUSD_1D.csv", index_col="Date", parse_dates=True)

In [44]:
bc = Backtester("BTCUSD", 10000, 0.1, data)

In [45]:
bc.data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-09-20,3916.360107,4031.389893,3857.729980,3905.949951,3905.949951,1213830016
2017-09-21,3901.469971,3916.419922,3613.629883,3631.040039,3631.040039,1411480064
2017-09-22,3628.020020,3758.270020,3553.530029,3630.699951,3630.699951,1194829952
2017-09-23,3629.919922,3819.209961,3594.580078,3792.399902,3792.399902,928113984
2017-09-24,3796.149902,3796.149902,3666.899902,3682.840088,3682.840088,768014976
...,...,...,...,...,...,...
2022-09-17,19777.033203,20162.531250,19777.033203,20127.576172,20127.576172,24957448100
2022-09-18,20127.234375,20127.234375,19387.492188,19419.505859,19419.505859,31254779144
2022-09-19,19418.572266,19639.480469,18390.318359,19544.128906,19544.128906,40177002624
2022-09-20,19545.591797,19602.457031,18813.455078,18890.789063,18890.789063,36791346508
2022-09-21,18883.615234,19031.361328,18883.615234,19007.335938,19007.335938,35856887808

In [46]:
bc.comission

0.001

In [47]:
bc.current_balance, bc.initial_balance

(10000, 10000)

In [48]:
bc.buy_instrument(0, 1)

Compraste 1 unidades de BTCUSD en la fecha 2017-09-20 a un precio de $ 3905.949951 USD por un total de $ 3905.949951 USD con una comisión de $ 3.905949951 USD; Total: 3909.855900951

In [49]:
bc.sell_units(0, 1)

Vendiste 1 unidades de BTCUSD en la fecha 2017-09-20 a un precio de $ 3905.949951 USD

In [50]:
bc.current_balance, bc.initial_balance

(9992.188100098001, 10000)